{% extends "base.html" %}
{% block content %}
    <p>
    This tool accepts SDG SDMX data and removes each series key that is not
    compatible with the global DSD and content constraints. To use, drop in
    your SDMX data (XML) file. Results will be displayed below.
    </p>
    <form id="upload-form" action="filter" method="post" enctype="multipart/form-data" class="dropzone"></form>
    <div id="info"></div>
    <div id="download"></div>
    <div id="summary"></div>
    <div id="messages"></div>
{% endblock %}