{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block content %}
    <form action="filter" method="post" enctype="multipart/form-data">
        <div>
            <label for="upload-field">1. Select your national SDMX data file (.xml).</label>
            <input id="upload-field" type="file" name="file">
        </div>
        <div>
            <label for="filter-button">2. Press "Filter" to get a globally-compatible version.</label>
            <input id="filter-button" type="submit" value="Filter">
        </div>
    </form>
{% endblock %}